.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #1d2d50;
}

h1 {
  margin: 30px;
  font-family: 'Architects Daughter', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #fcdab7;
}

p {
  font-size: 2rem;
  color: #fcdab7;
  font-family: 'Architects Daughter', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Architects Daughter', cursive;

}
